In [1]:
import pandas as pd
from pathlib import Path

# Loading in the data

In [2]:
data = Path('./data/2018.xlsx')
df = pd.read_excel(data)
df.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,EXW,EXL,LBW,LBL,PSW,PSL,MaxW,MaxL,AvgW,AvgL
0,1,Brisbane,Brisbane International,2017-12-31,ATP250,Outdoor,Hard,1st Round,3,Dolgopolov O.,...,2.10,1.65,2.20,1.67,2.24,1.71,2.29,1.77,2.17,1.68
1,1,Brisbane,Brisbane International,2017-12-31,ATP250,Outdoor,Hard,1st Round,3,De Minaur A.,...,2.80,1.38,2.75,1.44,3.14,1.41,3.25,1.44,2.96,1.39
2,1,Brisbane,Brisbane International,2018-01-01,ATP250,Outdoor,Hard,1st Round,3,Harrison R.,...,1.62,2.15,1.67,2.20,1.66,2.35,1.75,2.35,1.67,2.17
3,1,Brisbane,Brisbane International,2018-01-01,ATP250,Outdoor,Hard,1st Round,3,Ebden M.,...,2.35,1.53,2.37,1.57,2.38,1.64,2.52,1.65,2.37,1.58
4,1,Brisbane,Brisbane International,2018-01-01,ATP250,Outdoor,Hard,1st Round,3,Zverev M.,...,1.47,2.50,1.57,2.37,1.44,3.00,1.57,3.00,1.44,2.73

# Exploring and Understanding the Data

Now that we have the data loaded, we have to figure out what information this data gives us (i.e. what the columns represent). Let's look at the [data documentation](http://www.tennis-data.co.uk/notes.txt) to see what we can gather. The data also includes betting odds for the matches by different betting entities, but we will ignore those for now and just focus on the match data.

<img src="./data/data_legend.png">

To get a better understanding of the data, let's take a look at the numerical summary pandas gives us:

In [3]:
df.describe()

,ATP,Best of,WRank,LRank,WPts,LPts,W1,L1,W2,L2,...,EXW,EXL,LBW,LBL,PSW,PSL,MaxW,MaxL,AvgW,AvgL
count,2637.000000,2637.000000,2637.000000,2636.000000,2637.000000,2636.000000,2622.000000,2623.000000,2607.000000,2607.000000,...,2618.000000,2618.00000,2162.000000,2162.000000,2617.000000,2617.000000,2636.000000,2636.000000,2636.000000,2636.000000
mean,33.760334,3.384528,60.269245,87.683991,1732.301100,1126.762519,5.802441,4.208921,5.764480,4.030687,...,1.827762,2.96500,1.855148,3.045023,1.926335,3.463091,1.991089,3.677830,1.863961,3.183194
std,18.554584,0.788308,73.188987,113.492047,1815.483268,1062.844898,1.261901,1.799389,1.279958,1.834431,...,0.895751,2.13104,0.873949,2.529572,1.065434,3.414277,1.150385,3.925328,0.942274,2.713412
min,1.000000,3.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.010000,1.02000,1.000000,1.040000,1.010000,1.030000,1.020000,1.050000,1.010000,1.030000
25%,19.000000,3.000000,19.000000,35.000000,694.000000,559.750000,6.000000,3.000000,6.000000,3.000000,...,1.300000,1.69250,1.330000,1.730000,1.340000,1.770000,1.370000,1.810000,1.320000,1.720000
50%,33.000000,3.000000,46.000000,64.000000,1051.000000,835.500000,6.000000,4.000000,6.000000,4.000000,...,1.570000,2.30000,1.610000,2.250000,1.620000,2.460000,1.670000,2.550000,1.590000,2.360000
75%,50.000000,3.000000,80.000000,102.000000,1905.000000,1285.000000,6.000000,6.000000,6.000000,6.000000,...,2.100000,3.35000,2.100000,3.400000,2.190000,3.600000,2.260000,3.720000,2.120000,3.390000
max,67.000000,5.000000,1821.000000,1821.000000,10600.000000,10600.000000,7.000000,7.000000,7.000000,7.000000,...,17.000000,20.00000,11.000000,41.000000,18.030000,33.900000,20.000000,52.250000,14.070000,25.410000